import type { AppConfig } from '@exam-app/shared';

export const APP_CONFIG: AppConfig = {
  examTypeId: '__EXAM_TYPE_ID__',
  appName: '__APP_NAME__',
  branding: { primaryColor: '__PRIMARY_COLOR__' },
  subscriptionSkus: {
    monthly: 'monthly___EXAM_TYPE_SKU__',
    quarterly: 'quarterly___EXAM_TYPE_SKU__',
    annual: 'annual___EXAM_TYPE_SKU__',
  },
};
